body {
    font-family: Montserrat;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    color: #000000; 
}

header {
    background-color: #fff; 
    color: #000000; 
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

#picture {
    display: inline-block;
}

#login-container {
    width: 50%;
    margin: auto;
    margin-top: 270px; 
    background-color: #cfcfcf; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

button {
    margin-top: 20px;
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
}
